%h1= "#{@user.full_name} Results"
= select_tag '', options_for_select(['today','week']), :id => 'period_selector', :class => "selectpicker", :player_id => @user.id
= render 'list_results', :start_day => @start_day, :end_day => @end_day