var modal = $(".modal")
var modalBody = $(".modal-body")

if( ($(modalBody).attr("id")) != "#{@result.id}" ){
$(modalBody).attr("id","#{@result.id}")
$(modalBody).html("#{escape_javascript(render 'list_result_history', :result => @result)}")
}

$(modal).modal("show")

