- if @user.errors.any?
  $("#scoring_cards_errors").html("#{escape_javascript(render 'errors', :object => @user)}")
  $("#scoring_cards_errors").slideDown()
- else
  $("#scoring_cards_errors").slideUp()

