// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#results_table td
{
  text-align: center;
  padding: 6px;
}

#results_table th
{
  padding: 8px;
}